POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=bizhealth
POSTGRES_USER=admin
POSTGRES_PASSWORD=

GOOGLE_PLACES_API_KEY=
FOURSQUARE_API_KEY=
OUTSCRAPER_API_KEY=
ANTHROPIC_API_KEY=

ASPNETCORE_ENVIRONMENT=Development
